* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url(../images/banner/banner3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner {
    color: #FFFFFF;
    margin-left: 876px;
    margin-right: 230px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 32px;

}

.btn-primary {
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: 166px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    color: whitesmoke
}

.nav-title {
    font-weight: 800;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.about {
    display: flex;
    justify-content: space-around;
}

.images {
    margin-top: 105px;
    margin-left: 164px;
    margin-bottom: 252px;
}

.about-title {
    text-align: center;
    margin-top: 350px;

}

.about-description {
    text-align: center;
    margin-top: 350px;
    padding-right: 340px;
}

/* my plan styles */

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    gap: 86px;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}

.plans {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #151414;
}

.plans-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* gradient styles  */
.gradient {
    margin-left: 230px;
    background-image: url(../images/watch.png), url(../images/gradient1.png);
    background-repeat: no-repeat;
    color: #ffffff;
    border-radius: 8px;
}

.gradient-title {
    padding-top: 50px;
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
}

.callnow-btn {
    margin-top: 25px;
    margin-bottom: 60px;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left: 64px;
}

/* footer section  */

footer {
    background: #151414;
    width: 100vx;
    height: auto;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content {
    margin-left: 230px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    flex-direction: column;
}

.footer-content h3 {
    margin-top: 141px;
    font-weight: 700;
    font-size: 45px;
}

.footer-content p {
    max-width: 500px;
    margin-top: 16px;
}

.socials {
    display: flex;
    gap: 17px;
    margin-top: 32px;
    margin-bottom: 118px;
    list-style: none;


}

.footer-bottom {
    text-align: center;
}