* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.banner {
    color: #FFFFFF;
    margin-left: 876px;
    margin-right: 230px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 32px;
    margin-left: 70px;

}

.btn-primary {
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: 166px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    color: whitesmoke
}

.nav-title {
    font-weight: 800;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* m-body */
.m-body {
    margin: 114px;
    display: flex;
    gap: 160px;
}

.m-title {
    margin-top: 250px;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.m-description {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #444343;

}

.fa-check {
    margin-top: 10px;
    color: #16D887;
    width: 24px;
    height: 27.56px;
    left: 845px;
    top: 1391.15px;
}

/* my plan styles */

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    gap: 86px;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}

.plans {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 50px;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #151414;
}

.plans-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* gradient styles  */
.bg-gradient {
    margin: auto;
    margin-bottom: 140px;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
}

.gradient-title {
    padding-top: 60px;
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.call-btn {
    margin-top: 25px;
    margin-bottom: 60px;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left: 64px;
    cursor: pointer;
}

/* footer section  */

footer {
    display: flex;
    gap: 600px;
    background: #FFF8F3;
    padding: 100px 100px;
    background-color: #151414;
    color: #FFF8F3;
    text-align: left;
    top: 2651.96px;
}

footer h3 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 45px;
    margin-left: 240px;
}

.subscribe {
    margin-top: 5px;
    font-weight: 700;
    font-size: 45px;
    margin-left: 0px;
}

footer p {
    max-width: 500px;
    margin-top: 16px;
    margin-left: 240px;
}

.socials {
    display: flex;
    gap: 17px;
    margin-top: 32px;
    margin-bottom: 118px;
    list-style: none;
    margin-right: auto;
    margin-left: 200px;

}

form input {
    margin-top: 20px;
    width: 300px;
    height: 45px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 0px;
}

form button {
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    background: #005FAC;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 20px;
}